# ignore large files contained in the datasets folders
datasets/

# ignore useless pycache files
__pycache__/

# ignore useless jupyter notebook checkpoints
.ipynb_checkpoints/


# ignore custom .vscode settings
.vscode/
.vscode/settings.json

